# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea
.classpath
.project
Ex2a.pdf
libc/
data/
bin/
classes/
OOP-Ex2.iml
libs/gson-2.8.6.jar
ex2_Ex2.iml

GServer.json
machineLearning.txt
out/production/OOP-Ex2/META-INF/
src/META-INF/
test.json
test1.json
TODO
ex2_Ex2.iml
/.idea/
